.root {
    -fx-background-color: #f5f5f5;
}

.title {
    -fx-text-fill: #333333;
}

.mode-title, .difficulty-title {
    -fx-text-fill: #333333;
}

.game-btn {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
}